@tailwind base;
@tailwind utilities;
@tailwind components;

@keyframes gradient-animation {
    0%, 100% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
  }
  
  @keyframes float {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-8px);
    }
  }
  
  .animated-gradient {
    background: linear-gradient(90deg, #a1c4fd, #c2e9fb, #fbc2eb, #a6c1ee);
    background-size: 400% 400%;
    animation: gradient-animation 15s ease infinite;
  }
  
  .btn-float {
    animation: float 3s ease-in-out infinite;
  }
  